.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F1F1F3;
}
/* Common Style */
.btn-primary{
    background-color: #006A50;
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    margin: 16px 0;
    text-decoration: none;
    color: #ffffff;
    border: none;
    transition: .5s;
}
.btn-primary:hover{
    background-color: #424242;
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    margin: 16px 0;
    text-decoration: none;
    color: #ffffff;
    border: none;
    
}
.headline{
    font-size: 40px;
    font-weight: bold;
    padding: 80px 0 32px 0;
}
p{
    line-height: 28px;
}




main{
    width: 1280px;
    margin: 0 auto;
}


header{
    padding: 24px 0;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav a{
    text-decoration: none;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 16px;
    font-weight:600;
    padding: 10px 24px;
    color: #006A50;
    transition: .5s;
}
header nav a:hover{
    text-decoration: none;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 16px;
    font-weight:600;
    padding: 10px 24px;
    color: #e9e9e9;
}


/* banner start */
.banner{
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    margin: 32px 0;
    border-radius: 24px;
}
.banner .content{
    width: 620px;
}
.banner .content p{
    opacity: .5;
    font-weight:600;
    font-size: 24px;
}
.banner .content h1{
    font-weight: bold;
    font-size: 58px;
    margin: 16px 0;
}

/* pillar start */

.pillars{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    
}
.pillars div{
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
}
.pillars div:hover{
    background-color: #ffecec;
    box-shadow: inset;
    padding: 16px;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
}
.pillars div img{
    padding: 8px 0;
}
.pillars div h4{
    opacity: 0.8;
    padding: 16px 0;
}
.pillars div p{
    opacity: 0.8;
    padding: 8px 0
}


/* vision start */
.vision p{
    opacity: 0.8;
}
.vision-boxes{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin: 32px 0;
}
.vision-boxes .box{
    border-radius: 16px;
    padding: 24px;
    transition: 0.5s;
}
.vision-boxes .box:hover{
    
    border-radius: 8px;
    border: 1px solid black;
    padding: 20px;
    
}
.vision-boxes .box img{
    padding: 8px 0;
}
.vision-boxes .box h4{
    opacity: 0.8;
    padding: 16px 0;
}
.vision-boxes .box p{
    opacity: 0.8;
    padding: 8px 0
}

.idol{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-color: #ffffff;
    padding: 30px 0 0 20px;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
}
.idol h4{
    font-weight: bold;
    padding: 16px 0;
}
.idol p{
    opacity: .8;
    padding: 16px 0;
}


/* opinion start */
.opinion-content{
    background-color: #ffffff;
    border-radius: 16px;
    padding: 32px;
}
.opinion-content table{
    border-collapse: collapse;
    width: 100%;
}
.opinion-content table tbody tr:hover{
    background-color: #ececec;
}
.opinion-content table th{
    background-color: #C6E4D6;
    border: 1px solid #cfcfcf;
    padding: 32px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;

}
.opinion-content table td{
    border: 1px solid #cfcfcf;
    padding: 16px;
}
.opinion-content table td .opt{
    text-align: center;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: #C6E4D6;
}


/* news start */

.news-content{
    background-color: #ffffff;
    border-radius: 16px;
    padding: 48px;
    margin: 24px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    align-items: center;
}
.news-content img{
    border-radius: 24px;
}
.news-content .box h3{
    font-size: 32px;
    font-weight: bold;
}
.news-content .box img{
   padding: 6px 0;
}
.news-content .box p{
    opacity: 0.8;
    padding: 6px 0
}


/* donate start */

.donate-box{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin: 32px 0;
}
.donate-box div{
    background-color: #ffffff;
    padding: 40px 70px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: 1s;
    
}
.donate-box div:hover{
    background-color: #000000;
    padding: 40px 70px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    
    
}
.donate .donate-input{
    width: 100%;
    height: 48px;
}
.donate .donate-input{
    width: 100%;
    height: 48px;
}



/* footer start */
footer{
    text-align: center;
}

footer hr{
    opacity: 0.8;
}
footer img{
    height: 32px;
    width: 32px;
    padding: 16px;
}
