.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    padding: 0;
    margin: 0;
}
/* Common Style */
.btn-primary{
    background-color: #006A50;
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    margin: 16px 0;
    text-decoration: none;
    color: #ffffff;
    border: none;
}


main{
    width: 1280px;
    margin: 0 auto;
}

header{
    padding: 24px 0;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav a{
    text-decoration: none;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 16px;
    font-weight:600;
    padding: 10px 24px;
    color: #006A50;
}
.banner{
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}
.banner .content{
    width: 620px;
}
.banner .content p{
    opacity: .5;
    font-weight:600;
    font-size: 24px;
}
.banner .content h1{
    font-weight: bold;
    font-size: 58px;
    margin: 16px 0;
}
